:root {
  --grid-size: 3 /* Default size*/
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
    padding: 0;
  }

/* The main game title */
.game-title {
    width: min(600px, 95vmin);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

.game-title button{
  width: 50px;
  height: 90%;
  font-size: 200%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 0;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    }

.main-page-hr {
    border-top: dashed 0.5vmin rgba(98, 98, 98, 0.637);
    width: min(600px, 95vmin);
  }

/* HTP screen CSS */
.pop-screen-bg {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.413);
  backdrop-filter: blur(10px);
  z-index : 2;
}
.pop-screen {
  background-color: #0a0101dd;
  width: min(900px, 90vw);
  height: 85vh;
  margin: auto;
  margin-top: 7.5vh;
  border-radius: 7px;
  position: absolute;


  /* Flex Configuration */
  display: flex;
  flex-direction: row;
  justify-items: auto;
  z-index: 3;
}




/* How -to-play-bg close btn */
.close-btn {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.53);
  font-weight: 700;
  border: solid white 0.5px;
  width: 4vmin;
  border-radius: 2.5px;
  position: absolute;
  margin: 10px;
  font-size: 3vmin;
}

.close-btn:hover {
  color: rgb(255, 255, 255);
  font-size: 3.1vmin;

}


/* Horizontal or Vertical line Specific to HTP*/
.HTP-bg hr {
  border: 4px;
  height: 80%;
  margin: auto 0;
  border-style: none dashed none none;
  color: grey
}


/* The changes for smaller screens for HTP*/
@media only screen and (max-width: 640px) {
  .HTP-bg {
      flex-direction: column;
  }
  .HTP-bg hr {
      width: 80%;
      height: 0%;
      border-style: dashed none none none;
      margin: 0 auto;
  }

  .HTP-bg-arrow-cnt {
      margin: 0 auto;
  }
}

/* Grids */
.HTP-grid-cnt {
  background-color: rgb(254, 254, 254);
  border-radius: 1vmin;
  width: min(200px, 45vmin);
  height: min(200px, 45vmin);
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5vmin;
  gap: 0.5vmin;
}


/* Mian Frid */
#the-grid {
  width: min(600px, 95vmin);
  height: min(600px, 95vmin);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  padding: 1vmin;
  gap: 1vmin;
  
}


/* For Cells */
.cell {
  background-color: rgb(255, 255, 255);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(192, 189, 185);
}


.HTP-cell {
  border-radius: 1vmin;
}


.mian-cell {
  border-radius: calc(7vmin/var(--grid-size));
}


/* For Tiles */
.tile{
  background-color: rgb(206, 255, 255);
  border: solid 2px rgb(32, 25, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.new-tile {
  animation: new-tile 300ms ease-in-out 1 normal;
}
@keyframes new-tile {
  from {
    width: 20%;
    height: 20%;
    opacity: 0;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  
}

.merge-tile {
  animation: merge-tile 300ms ease-in-out 1 normal ;

}
@keyframes merge-tile {
  from {
    width: 120%;
    height: 120%;
    opacity: 0;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  
}

.HTP-tile {
  font-size: min(3vmin, 64px) ;
  border-radius: 1vmin;
}

.main-tile {
  font-size: calc(25vmin/var(--grid-size)) ;
  border-radius: calc(7vmin/var(--grid-size));
}



























